.icon {
	font-family: $icon-font;
}

.button {
	font-weight: normal;
	cursor: pointer;
	position: relative;
	top: -0.1em;

	@include vendor-prefix(transition, color 0.15s);

	&:before {
		-webkit-font-smoothing: antialiased;
		content: attr(data-icon);
		font-family: $icon-font;
		display: inline-block;
		font-style: normal;
		position: relative;
		letter-spacing: 0.2em;
		top: 0.10em;
		font-size: 1rem;
	}

	&:hover, &.active {
		color: $hover-color;
	}

	&.noicon {
		top: 0;
		&:before { content:none; }
	}

	&.nolabel:before {
		letter-spacing: 0;
	}
}

.buttonbar {
	float:right;
	font-size: 0.875rem;
	margin: 0;
	padding: 0;
	display: block;

	li {
		margin-left: 1.0em;
		display: inline-block;
		vertical-align: middle;
		margin-right: 0;
	}
}
